<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ComplaintDao">
    <select id="findAll" parameterType="Complaint" resultType="Complaint">
        select * from complaint
    </select>
</mapper>