<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ProductDao">
    <select id="findAll" parameterType="Product" resultType="Product">
        select * from product
    </select>
    <select id="findByProductname" parameterType="String" resultType="Product">
        select * from product where pname = #{productname}
    </select>
    <select id="findByProductid" parameterType="Integer" resultType="Product">
        select * from product where id = #{productid}
    </select>
    <!-- 根据商品ID查询商品 -->
    <select id="fetchProduct" parameterType="Integer" resultType="Product">
        select * from product where id = #{productid}
    </select>
    <select id="findByProductClass" parameterType="String" resultType="Product">
        select * from product
        <trim prefix="where" prefixOverrides="AND">
            <if test="pclass != null">
                AND pclass = #{productClass}
            </if>
        </trim>
    </select>
    <select id="findRemoteUrl" parameterType="String" resultType="String">
        select remoteUrl from imagemap where originUrl = #{img}
    </select>

<!--    <select id="fetchList" parameterType="java.util.Map" resultType="Product">-->
<!--        select * from product-->
<!--        <trim prefix="where">-->
<!--            <if test="productInfo.pname != null">-->
<!--                pname like concat('%',#{productInfo.pname},'%')-->
<!--            </if>-->
<!--        </trim>-->
<!--        order by product.id-->
<!--        limit #{size} offset #{start}-->
<!--    </select>-->

    <select id="fetchList" parameterType="java.util.Map" resultType="Product">
        select * from product
        <trim prefix="where" suffixOverrides="AND">
            <if test="productInfo.pname != null">
                pname like concat('%',#{productInfo.pname},'%')
            </if>
            <if test="productInfo.pid != null">
                AND `product`.pid = #{productInfo.pid}
            </if>
            <if test="productInfo.pclass != null">
                AND `product`.pclass = #{productInfo.pclass}
            </if>
        </trim>
        order by product.pid
        limit #{size} offset #{start}
    </select>

    <select id="searchTotal" parameterType="Product" resultType="int">
        select count(*) from product
        <trim prefix="where">
            <if test="pname != null">
                pname like concat('%',#{pname},'%')
            </if>
        </trim>
    </select>

    <select id="findByProductName" parameterType="java.util.Map" resultType="Product">
        select * from product
        <trim prefix="where">
            <if test="searchQuery != null">
                pname like concat('%',#{searchQuery},'%')
                OR
                `desc` like concat('%',#{searchQuery},'%')
            </if>
        </trim>
        order by price
        <if test="sortOption == 1">
            desc
        </if>
    </select>
</mapper>
